<!DOCTYPE html>
<html>
<head>
  <title>Merostore</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <h1 class="my-4">Welcome to Mana's Store</h1>
  <div>
  <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class='container'>
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to root_path, class:'navbar-brand' do %>
          <i class="fa fa-meetup"></i>
          Mana's Store
        <% end %>
      </div>
      <div class="collapse navbar-collapse" id="main-nav-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "About Us", about_path %></li>
          <li><%= link_to "Services", "#"  %></li>
          <li><%= link_to "Contact Us", new_contact_path %></li>
          <li><%= link_to "Shop by Department", posts_path %></li>
        </ul>
      </div><!--/.navbar-collapse -->
      <div>
      </div>
    </div>
  </nav>
  
<div class="container">
  <% flash.each do |key, value| %>
    <%= content_tag :div, value, class: "alert alert-#{key}" %>
  <% end %>
  <%= yield %>
</div><!-- bring the gap between the details in the page-->

  
  
</body>
</html>
