<!DOCTYPE html>
<html>
<head>
  <title>Merostore</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class='container'>
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to root_path, class:'navbar-brand' do %>
          <i class="fa fa-meetup"></i>
          Mana's Store
        <% end %>
      </div>
      <div class="collapse navbar-collapse" id="main-nav-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "About Us", about_path %></li>
          <li><%= link_to "Services", "#"  %></li>
          <li><%= link_to "Contact Us", "#" %></li>
        </ul>
      </div><!--/.navbar-collapse -->
      <div>
      </div>
    </div>
  </nav>
  
<div class="container">
  <%= yield %>
</div><!-- bring the gap between the details in the page-->

  <div class="container">
    <h1 class="my-4">Welcome to Mana's Store</h1>
  <div>
    <div class="list" style="width: 10rem;">
      <ul class="list-group">
        <li class="list-group-item">Fashion</li>
        <li class="list-group-item">Accessories</li>
        <li class="list-group-item">House Goods</li>
      </ul>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <div class="card" style="width: 20rem;">
          <img class="card-img-top" src="https://a248.e.akamai.net/f/248/9086/10h/origin-d5.scene7.com/is/image/ColumbiaSportswear2/1738151_010_f?$COL_grid$" alt="Down Jacket">
          <div class="card-body">
            <h4 class="card-title">Down Jacket</h4>
            <p class="card-text">No Brand Items.</p>
          </div>
          <ul class="list-group">
            <li>Price</li></li>
            <li>Details</li>
          </ul>
          <div class="card-body">
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="card" style="width: 20rem;">
          <img class="card-img-top" src="https://a248.e.akamai.net/f/248/9086/10h/origin-d5.scene7.com/is/image/ColumbiaSportswear2/1738151_010_f?$COL_grid$" alt="Down Jacket">
          <div class="card-body">
            <h4 class="card-title">Down Jacket</h4>
            <p class="card-text">No Brand Items.</p>
          </div>
          <ul class="list-group">
            <li>Price</li></li>
            <li>Details</li>
          </ul>
          <div class="card-body">
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
        </div>
      </div>
    </div>
    
    

  
</body>
</html>
